.btnGoogle {
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
}

.btn {
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.form-control {
    height: 50px;
    font-size: larger;
    background-color: white;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

.img-fluid {
    width: 500px;
    height: 350px;
    margin-left: 30px;
}

.bi {
    margin-right: 10px;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}