.d-noner {
    padding-top: 20px;
    font-weight: 500;
    color: white;
    font-size: large;
}

.bi {
    fill: lightblue;
    margin-left: 5px;
}

.bin {
    fill: lightblue;
}

.ms-1 {
    font-family: Verdana;
    font-weight: 300;
    color: white;
}

.d-none {
    font-family: Verdana;
    font-weight: 300;
    color: white;
}

h4 {
    margin-left: 10px;
    padding-top: 20px;
}

.dropdown-menu {
    color: aliceblue;
}

.dropup {
    margin-bottom: 20px;
}

.fd-2 {
    margin-left: 53px;
    margin-top: 10px;
    margin-bottom: 0;
}

.fs-5 {
    margin-left: 30px;
}

.p-3 {
    width: 250px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}