#canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#container{
  margin-left: 100px;
  width: 55%;
  height: 55%;
  margin:auto;
}
.pie{
  width: 330px;
  height: 330px;
  margin: auto;
  position: relative;
  top: -400px;
}
.line{
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  top: -150px;
}
.bungkus{
  width: 100%;
  height: 1700px;
  background-color: white;
  margin: auto;
  position: relative;
  top: -1px;
  box-shadow: 0 0 2px 2px rgba(179, 179, 179, 0.3);
  border-radius: 10px
}
.batang{
  position: relative;
  top: 50px;
  right: 20px;
  font-size: 25px
  
}
h2{
  margin-left: 160px;
  color: black;
}
.sumber{
  margin-left: 160px;
  margin-top: -10px;
  color: #878787;
}