/*
body{
    overflow-y: hidden;
    overflow: auto;
}
/* Navbar */
.navbar-brand{
    font-family: Viga;
    color: black !important;
    font-size: 32px !important;
}

.navbar{
    background-color: white;
    z-index: 12;
}
.navbar-brand{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}
.nav-link{
    margin-top: 12px !important;
    text-transform: uppercase;
    margin-right: 30px;
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.nav-link:hover::after{
    content:'';
    display: block;
    border-bottom: 3px solid blue;
    width: 70%;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    z-index: 10;
}


.btn-menu{
    margin-top: 7px;
    font-family: Viga;
    background-color: orange;
    border: 0px !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}

.btn-menu:hover{
    background-color: white;
    color: orange;
}

/* Menu Dropdown */
.navby{
    position: absolute !important;
    background-color: white;
    height: 200px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-200%);
    transition: all 0.8s;
}

.slide{
    position: absolute !important;
    background-color: white;
    height: 160px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(0);
    transition: all 0.8s;
}

li{
    list-style: none;
}
.title{
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}
.title2{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}

.title3{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 210px !important;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}

.subtitle{
    font-size: 15px;
    margin-left: 150px;
    padding-top: 10px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

.subtitle2{
    font-size: 15px;
    margin-left: 80px;
    padding-top: 10px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

.subtitle3{
    font-size: 15px;
    padding-top: 10px;
    margin-left: 80px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

