.cardBoxPemasukan{
    position: relative;
    margin-left: 28%;
    align-items: center;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBoxPemasukan .d-flex{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
}