.grafik{
    width: 50px;
}

.scroll{
    display:block;
    padding:5px;
    width:auto;
    height:600px;
    overflow:auto;
}

.title{
    font-size: 20px !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hasil{
    font-family: Viga;
    color:#42B8F5;
    font-size: 50px !important;
    text-align: center;
}

.cardBoxHasil{
    position: relative;
    margin-left: 28%;
    align-items: center;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBoxHasil .d-flex{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
}

.cardBoxHasil .d-flex .ket{
    text-align: center;
    margin-left: 20px;
    margin-top: 30%;
}