
.grafik{
    width: 50px;
}
input {
    margin-left: -60px;
    margin-top: -10px;
    position: absolute;
    width: 30px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
}
/* Navbar */
.navbar-brand{
    font-family: Viga;
    color: black !important;
    font-size: 32px !important;
}

.navbar{
    background-color: white;
    z-index: 12;
}
.navbar-brand{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}
.nav-link{
    margin-top: 12px !important;
    text-transform: uppercase;
    margin-right: 30px;
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.nav-link:hover::after{
    content:'';
    display: block;
    border-bottom: 3px solid blue;
    width: 70%;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    z-index: 10;
}


.btn-menu{
    margin-top: 7px;
    font-family: Viga;
    background-color: orange;
    border: 0px !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}

.btn-menu:hover{
    background-color: white;
    color: orange;
}

/* Menu Dropdown */
.navby{
    position: absolute !important;
    background-color: white;
    height: 200px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-200%);
    transition: all 0.8s;
}

.slide{
    position: absolute !important;
    background-color: white;
    height: 160px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(0);
    transition: all 0.8s;
}

li{
    list-style: none;
}
.title{
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}
.title2{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}

.title3{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 210px !important;
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    list-style: none !important;
}

.subtitle{
    font-size: 15px;
    margin-left: 150px;
    padding-top: 10px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

.subtitle2{
    font-size: 15px;
    margin-left: 80px;
    padding-top: 10px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

.subtitle3{
    font-size: 15px;
    padding-top: 10px;
    margin-left: 80px;
    font-family: Montserrat;
    color: black;
    list-style: none !important;
}

.content{
    margin-top: 30px;
    z-index: 2 !important;
}

.content2{
    margin-top: 20px;
}

.content3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Montserrat;
}

.line{
    margin-top: -30px !important;
    margin-left: 120px !important;
    margin-bottom: 30px;
}

.line-bottom{
    margin-top: -30px !important;
    margin-left: 370px !important;
    margin-bottom: 30px;
}

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .d-flex{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
}

.cardBox .d-flex .user_numbers{
    font-family: Viga;
    color:#7BA5FE;
    font-size: 32px !important;
    margin-top: 5px;
}

.cardBox .d-flex .item_numbers{
    font-family: Viga;
    color:#4DC7B5;
    font-size: 32px !important;
    margin-top: 5px;
}

.cardBox .d-flex .money_numbers{
    font-family: Viga;
    color:#F5B551;
    font-size: 32px !important;
    margin-top: 5px;
}

.cardBox .d-flex .employ_numbers{
    font-family: Viga;
    color:#F0757E;
    font-size: 32px !important;
    margin-top: 5px;
}