body {
    background-color: white;
}

img {
    position: absolute;
    width: 350px;
    height: 500px;
    left: 0px;
    top: 215px;
}

.kotaklogin {
    position: absolute;
    width: 450px;
    height: 530px;
    left: 720px;
    top: 157px;

    background: white;
    border-radius: 20px
}
.tombol{
    border-style: solid;
    border-width: 0.5px;
}
.tombol1{
    margin: auto;
    margin-bottom: 40px;
    width: 420px;
}

.tekslogin {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 65px;

    color: #000000;
}
.garis1{
    position: absolute;
width: 180px;
height: 0px;
left: 250px;
top: 396px;

border: 1px solid black;
}
.garis2{
    position: absolute;
width: 180px;
height: 0px;
left: 20px;
top: 396px;

border: 1px solid black;
}
.atau{
    margin-right: 200px;
}
