/* All Device */
body{
    overflow-x: hidden;
}
/* Navbar */
.home-img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold !important;
}

.navbar-brand {
    font-family: Viga;
}

.nav-link{
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.btn-menu{
    font-family: Viga !important;
}
/* Akhir Navbar */

/* Jumbotron */
.jumbotron {
    background-image:url('images/background-jumbotron.jpg');
    background-size: cover;
}
.jumbotron .display-4{
    font-family: Montserrat !important;
    font-weight: bold;
    color: black !important;
}
.jumbotron .display-5{
    font-weight: bold;
    font-family: Montserrat;
    color: black !important;
}
.btn-data{
    margin-top: 20px !important;
    font-family: Viga;
    background-color: orange;
    border: 0px !important;
}

.btn-data:hover{
    background-color: white;
    color: orange;
}
/* Akhir Jumbotron */

/* info panel */
.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;
    padding: 40px 20px 10px 50px;
 }
 /* akhir info panel */

 .space{
    text-align: center;
    margin-top: 100px;
    font-family: Montserrat;
    font-weight: bold;
}
.line{
    display: block;
    margin-top: -5px;
    margin: auto;
}
.description{
    color: darkgray;
    text-align: center;
}
.cardBox{
    margin-top: 50px;
    position: relative;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.contentBox{
    height: 270px !important;
    width: 470px !important;
}

.imageBox {
    width: 35px;
    height: 35px;
    margin-bottom: 20px !important;
}

.contentBox .titleBox {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.contentBox .subText {
    color: black;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    opacity: 75%;
}
.btn-menu2{
    margin-top: 5px !important;
    font-family: Viga;
    font-size: 16px;
    background-color: orange;
    border: 0px !important;
    margin-bottom: 100px;
}                           

.btn-menu2:hover{
    background-color: white;
    color: orange;
}
.d-flex{
    margin-top: 125px;
}

/* Phone Version */
@media(min-width: 176px) and (max-width:992px){
body{
    overflow-x: hidden;
}
/* Navbar */
.navbar-brand{
    font-size: 24px;
}

.nav-link{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

.btn-menu {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
    background: linear-gradient(to right, #0256EC, #12DDFE);
    border: 0px !important;
    width: 100%;
}

/* Jumbotron */
.jumbotron {
    background-image:url('images/background-jumbotron-hp.png');
    background-size: cover;
}
.jumbotron .display-4{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.jumbotron .display-5{
    font-size: 38px;
    margin-top: 10px;
    text-align: center;
}
.btn-data{
    width: 50%;
    display: block;
    margin: auto;
}
/* Akhir Jumbotron */


/* Info Panel */
.info-panel{
   margin-top: 80px;
}

.info-panel h5{
    margin-top: -10px;
}
/* akhir info panel */

.description{
    font-size: 20px;
    width: 100%;
}

.bi{
    float: left !important;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* awal space */


.info-panel2{
    margin-top: 45px;
    padding: 40px 20px 10px 50px;
 }
.info-panel2 h5{
    margin-top: 20px;
}
.info-panel2 p{
    margin-top: 20px;
}

 /* akhir space */



.btn-menu2{
    margin-top: 5px !important;
    font-family: Viga;
    font-size: 16px;
    background-color: orange;
    border: 0px !important;
    margin-bottom: 100px;
}

.btn-menu2:hover{
    background-color: white;
    color: orange;
}

.image{
    width: 85%;
    height: 85%;
}




}
/* Desktop Version */
@media (min-width: 992px){
    .navbar{
        height: 80px;
        background-color: white;
    }
    .navbar-brand{
        font-size: 30px;
    }

    .btn-menu{
        font-weight: bold;
        width: 150px;
        margin-top: 5px;
        background: linear-gradient(to right, #E89722, #CA5F2A);
        color: white;
        border: 0px !important;
        border-radius: 25px;
    }
    
    .btn-menu:hover{
        background: white;
        color: #E89722;
    }

    .nav-link{
        margin-top: 10px;
        margin-right: 30px;
        font-size: 14px !important;
        
    }

    .nav-link:hover::after{
        content:'';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin:auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Awal Jumbotron */
    .jumbotron {
        background-image:url('images/background-jumbotron.jpg');
        background-size: cover;
        height: 700px;
    }
    .jumbotron .display-4{
        font-size: 40px;
        margin-top: 150px;
    }
    .jumbotron .display-5{
        font-size: 55px;
        margin-top: 10px;
    }
    .btn-data{
        width: 200px;
        font-size: 25px;
        border-radius: 25px;
    }
    

    /* Akhir Jumbotron */

    /* Info Panel */
    .info-panel{
        margin-top: -100px;
     }
     /* Akhir Info Panel */

     .description{
        font-size: 25px;
        margin-right: 200px;
        margin-left: 200px;
     }
     
}
