
h2{
position :absolute;
width: 100px;
height: 39px;
top: 30px;


font-style: bold;
font-weight: 700;
font-size: 32px;
line-height: 39px;

display: flex;
align-items: center;
text-align: center;

color: #000000;



}
hr{
    margin-top: 25px;
}
p{
    text-align: center;
}
.or{
    margin-left: -90px;
    font-weight: bold;
}
.tombol1{
    margin-top: 120px;
    background-color: white;
    color: #000000;
    border-color: #000000;
}

.tombol{
    
    width: 400px;
    height: 40px;
    

    
    border-radius: 20px;
}
.kolom1{
    margin-left: 60px;
    
}
.kolom2{
    background-color: rgba(28, 28, 241, 0.753);
    height: 650px;
}
.gudang{
    position: absolute;
left: 750px;
top: 91px;
}
b{
    position: absolute;
    width: 250px;
    height: 44px;
    left: 85px;
    top: 600px;
}