.content{
    margin-top: 30px;
    z-index: 2 !important;
}

.content2{
    margin-top: 20px;
}

.content3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Montserrat;
}

.konten-utama .d-flex{
    position: relative;
    background: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) !important;
}

