.form-control2{
    width : 300px;
    height: 35px;
    border-width: 1px;
    border-color: black;
    border-radius: 6px;
}
.buton1{
    margin-left: 85%;
}
.delete{
    font-size: 10px;
}
.edit{
    font-size: 10px;
}
h2{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.card-login{
    margin: auto;
    margin-top: 100px;
    width: 350px;
}
.btnlogin{
    margin: auto;
    margin-left: 40%;
    text-align: center;
}
img{
   
    height: 100px;
}
